#main{
    margin-top:1%; 
       width:73%;
       height: 65vh;
       border-color: #3a2b37;
       border-style: solid;
       border-radius: 2px;
       float: left;
       background-color: rgba(248, 217, 217, 0.26)
   
}
#data{
   margin-top:3%;    
   margin-left:3%;           
   color: #9b4343;   
   font-size: 280%;
   font-weight: 800;   
   font-style: bottom; display: flex;;
           
}