#aside{
    margin-top:1%; 
    width:25%;
    float: right;
    height: 31vh;
    background-color: rgb(151, 11, 11);
    border-style: solid;
    border-radius: 2px;
    border-color:rgb(151, 11, 11);
}